.application-header{
	padding: 10px 40px;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
	background-color: white;
}

.app-icon{
	height: 40px;
	width: 40px;
	border-radius: 10px;
	overflow: hidden;
}

.app-icon-wrapper{
	margin-right: 20px;
}

.menu > a:not(:first-child){
	margin-left: 10px;
}

.menu a{
	text-decoration: none;
	color: var(--neutral-9);
}

.app-icon-wrapper, .menu{
	display: inline-block;
}

.page-content{
	text-align: center;
	padding: 30px 50px;
}

.app-title{
	display: block;
	margin-bottom: 20px;
}
