[itemselect]{
  padding: 5px 0;
  border-bottom: 1px solid var(--neutral-5);
}

[itemselect] > *:not(:first-child){
  margin-left: 20px;
}

[itemselect]:first-child:last-child > [removeitem]{
  visibility: hidden;
}

#item-selection-wrapper{
  text-align: left;
}
#calculate-summary{
  float: right;
}

.item-select{
  width: 210px;
}

.item-multiply{
  width: 75px;
}

.item-quick-rate{
  padding: 10px;
}
