.application-header{
	padding: 10px 15px 10px 15px;
}

.app-icon{
	height: 20px;
	width: 20px;
	border-radius: 4px
	overflow: hidden;
}

.app-icon-wrapper{
	margin-right: 20px;
}

.menu > a:not(:first-child){
	margin-left: 10px;
}

.app-icon-wrapper, .menu{
	display: inline-block;
}
