.application-header{
	padding: 10px 40px;
}

.app-icon{
	height: 40px;
	width: 40px;
	border-radius: 10px;
	overflow: hidden;
}

.app-icon-wrapper{
	margin-right: 20px;
}

.menu > a:not(:first-child){
	margin-left: 10px;
}

.app-icon-wrapper, .menu{
	display: inline-block;
}
