:root{
  --neutral-0:#ffffff;
  --neutral-1:#f8f9fa;
  --neutral-2:#f1f3f5;
  --neutral-3:#e9ecef;
  --neutral-4:#dee2e6;
  --neutral-5:#ced4da;
  --neutral-6:#adb5bd;
  --neutral-7:#6a7178;
  --neutral-8:#4f575e;
  --neutral-9:#272b30;
  --neutral-10:#101213;
  --background-color: #f3f6f8;
  --primary-color: rgb(87, 197, 61);
  --primary-dark: rgb(70, 185, 49);
  --font-s: 14px;
}

html{
  color: var(--neutral-9);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Symbol";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body{
  background-color: var(--background-color);
  direction: ltr;
  font-size: var(--font-s);
  line-height: 1.5;
  margin: 0;
}

[onclick], [ondblclick]{
  cursor: pointer;
}

[ondblclick]{
  user-select: none;
}

label{
  color: var(--neutral-8);
}

input, textarea, select, button{
  font-family: inherit;
  font-size: 100%;
  line-height: 1.25;
  margin: 0;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--neutral-6);
  padding: 5px 12px;
  outline: none;
  appearance: none;
}

button, a{
  color: var(--primary-color);
}

button:not([disabled]):hover, a:not([disabled]):hover{
  color: var(--primary-dark);
}

button:not([disabled]):hover{
  border-color: color: var(--primary-dark);
}

button{
  border: 1px solid var(--primary-color);
  background: var(--neutral-1);
  font-weight: 600;
}

button.primary{
  background: var(--primary-color);
  color: white;
}

button.primary:not([disabled]):hover{
  background: var(--primary-dark);
  color: white;
}

input:not([disabled]):hover, textarea:not([disabled]):hover, select:not([disabled]):hover{
  border-color: var(--neutral-7);
}

input:focus, textarea:focus, select:focus{
  border-color: var(--neutral-8);
}

[disabled]{
  opacity: 0.4;
  cursor: default !important;
  pointer-events; none;
}

select{
  padding-right: 40px;
  background-image:
    linear-gradient(45deg, transparent 49%, var(--neutral-6) 51%),
    linear-gradient(135deg, var(--neutral-6) 49%, transparent 51%),
    linear-gradient(to right, var(--neutral-6), var(--neutral-6));
  background-position:
    calc(100% - 15px) 50%,
    calc(100% - 10px) 50%,
    calc(100% - 30px) 50%;
  background-size:
    5px 5px,
    5px 5px,
    1px 80%;
  background-repeat: no-repeat;
}

select:hover {
  background-image:
    linear-gradient(45deg, transparent 49%, var(--neutral-7) 51%),
    linear-gradient(135deg, var(--neutral-7) 49%, transparent 51%),
    linear-gradient(to right, var(--neutral-7), var(--neutral-7));
  background-position:
    calc(100% - 15px) 50%,
    calc(100% - 10px) 50%,
    calc(100% - 30px) 50%;
  background-size:
    5px 5px,
    5px 5px,
    1px 80%;
  background-repeat: no-repeat;
}

select[expanded] {
  background-image:
    linear-gradient(135deg, transparent 49%, var(--neutral-8) 51%),
    linear-gradient(45deg, var(--neutral-8) 49%, transparent 51%),
    linear-gradient(to right, var(--neutral-8), var(--neutral-8));
  background-position:
    calc(100% - 15px) 50%,
    calc(100% - 10px) 50%,
    calc(100% - 30px) 50%;
  background-size:
    5px 5px,
    5px 5px,
    1px 80%;
  background-repeat: no-repeat;
}

[type=checkbox], [type=radio]{
  border:0;
  padding:0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button{
  height:auto;
}

[type=search]{
  -webkit-appearance:textfield;
     -moz-appearance:textfield;
          appearance:textfield;
  outline-offset:-2px;
}

input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=time], input[type=time]:empty{
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  appearance:button;
}

input::-ms-clear{
  display:none;
}

.flex-align-center{
  display: flex;
  align-items: center;
}

.flex-align-baseline{
  display: flex;
  align-items: baseline;
}

.ico{
  font-weight: 1000;
  font-size: 150%;
}
