.node-label-wrapper{
  display: flex;
  align-items: flex-start;
}

.node-marker{
  background-image:
    linear-gradient(135deg, transparent 49%, var(--neutral-6) 51%),
    linear-gradient(45deg, var(--neutral-6) 49%, transparent 51%);
  background-position:
    50% calc(50% - 2.5px),
    50% calc(50% + 2.5px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
  margin: 5px 10px;
  border-right: 1px solid var(--neutral-6);
  width: 10px;
  height: 10px;
}

.node-label{
  flex-grow: 1;
}

.tree-node:not([expanded]) > .node-label-wrapper > .node-label.expanded,
.tree-node[expanded] > .node-label-wrapper > .node-label.collapsed{
  display: none;
}
