.node-label-wrapper{
  display: flex;
  align-items: center;
}

.node-label{
  flex-grow: 1;
}

.node-label[selected] > span{
  background: var(--primary-color);
  color: white;
}

.node-label:only-child{
  margin-left: 2px;
}

.node-marker {
  background-image:
    linear-gradient(45deg, transparent 9%, var(--neutral-6) 11%, var(--neutral-6) 34%, transparent 36%),
    linear-gradient(135deg, transparent 9%, var(--neutral-6) 11%, var(--neutral-6) 34%, transparent 36%);
  background-position:
    calc(50% + 0.125em) calc(50% - 0.25em),
    calc(50% + 0.125em) calc(50% + 0.25em);
  background-size: 0.5em 0.5em;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  margin-right: 2px;
  flex: 0 0 auto;
}

.tree-node[expanded] > .node-label-wrapper > .node-marker{
  transform: rotate(90deg);
}

.subtree-wrapper{
  margin-left: 6.5px;
  border-left: 1px solid var(--neutral-6);
  padding-left: 6.5px;
}
  
.tree-node:not([expanded]) > .subtree-wrapper{
  display: none;
}


